<div class="section-heading">
  <!-- <span class="section-small-title">
    {{ 'CATEGORY.CATEGORY' | translate }}
  </span> -->

  <h2>
    {{ 'CATEGORY.Shop_By_Category' | translate }}
  </h2>

  <div class="title-line">
    <span>✦</span>
  </div>
</div>

<div
  class="category-carousel"
  *ngIf="categories().length > 0"
>
  <div
    class="horizontal-track category-track"
    #categoryTrack
  >
    <div
      class="category-card"
      *ngFor="let category of categories()"
      (click)="selectCategory(category)"
    >
      <div class="category-image">

        <img
          [src]="getCategoryImage(category)"
          [alt]="getCategoryName(category)"
          loading="lazy"
        />

        <div class="category-name">
          {{ getCategoryName(category) }}
        </div>

      </div>
    </div>
  </div>
</div>