<article
  class="product-card"
  (click)="openDetails()"
>

  <!-- ====================================================== -->
  <!-- IMAGE -->
  <!-- ====================================================== -->

  <div class="product-image">

    <!-- FIRST IMAGE -->

    <img
      class="product-image-main"
      [src]="getImageUrl(getFirstImage())"
      [alt]="getProductName()"
      loading="lazy"
    />


    <!-- SECOND IMAGE -->

    <img
      *ngIf="getSecondImage()"
      class="product-image-hover"
      [src]="getImageUrl(getSecondImage())"
      [alt]="getProductName()"
      loading="lazy"
    />


    <!-- ================================================== -->
    <!-- DISCOUNT -->
    <!-- ================================================== -->

    <span
      class="discount-badge"
      *ngIf="hasDiscount()"
    >
      -{{ product.discountPercentage }}%
    </span>


    <!-- ================================================== -->
    <!-- OUT OF STOCK -->
    <!-- ================================================== -->

    <span
      class="stock-badge out-of-stock"
      *ngIf="!product.isInStock"
    >
      {{ 'PRODUCT.OUT_OF_STOCK' | translate }}
    </span>


    <!-- ================================================== -->
    <!-- ADD TO CART -->
    <!-- ================================================== -->

    <button
      type="button"
      class="add-cart-button"

      [class.added]="showAddedCheck"

      [disabled]="
        !product.isInStock ||
        showAddedCheck
      "

      (click)="addToCart($event)"

      [attr.aria-label]="
        showAddedCheck
          ? ('PRODUCT.ADDED_TO_CART' | translate)
          : ('PRODUCT.ADD_TO_CART' | translate)
      "
    >

      @if (showAddedCheck) {

        <mat-icon class="added-check-icon">
          check
        </mat-icon>

      } @else {

        <mat-icon>
          shopping_cart
        </mat-icon>

      }

    </button>


    <!-- ================================================== -->
    <!-- ALREADY IN CART -->
    <!-- ================================================== -->

    <p
      class="already-in-cart-message"
      *ngIf="showAlreadyInCartMessage"
    >
      {{ 'PRODUCT.ALREADY_IN_CART' | translate }}
  </p>

  </div>


  <!-- ====================================================== -->
  <!-- CONTENT -->
  <!-- ====================================================== -->

  <div class="product-content">

    <h3 class="product-name">
      {{ getProductName() }}
    </h3>


    <!-- ================================================== -->
    <!-- PRICE -->
    <!-- ================================================== -->

    <div class="product-price">

      <span
        class="old-price"
        *ngIf="hasDiscount()"
      >
        {{ product.actualPrice | number:'1.2-2' }}
      </span>


      <span class="current-price">
        {{ getDiscountedPrice() | number:'1.2-2' }}
      </span>

    </div>

  </div>

</article>